*.DS_Store
*.pro.user

# 3rd party libs
/Engine/ThirdParty/boost/lib64-msvc-14.0/

# generated
# /Engine/Source/Runtime/generate/
# /Engine/Source/Editor/generate/

# binary
/Engine/Binary

# temp
/temp/
*.pyc
/Script/reflect/temp/

# Example
/Example/Sponza/build
*.meta

# cmake build
/Engine/[Bb]uild
CMakeLists.txt.user
/Engine/ThirdParty/boost/lib
/Engine/ThirdParty/boost_1_63

# vscode
/.vscode/
