*.DS_Store
*.pro.user

# 3rd party libs

# generated
# /Engine/Source/Runtime/generate/
# /Engine/Source/Editor/generate/

# binary
/Engine/Binary

# temp
/temp/
*.pyc
/Script/reflect/temp/

# Example
/Example/*/build
*.meta

# cmake build
/Engine/[Bb]uild
CMakeLists.txt.user

# vscode
/.vscode/
